@page "/admin/Zapisy/Lista"
@using BaseLibrary.Contracts
@using BaseLibrary.Models
@layout DashLayout
@inject IEnrollmentRepository EnrollmentService
@inject NavigationManager NavManager

<h3>Lista Zapisów</h3>

<RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="10px" class="mt-2 mb-4">
    <RadzenButton ButtonStyle="ButtonStyle.Success" Icon="add_circle_outline" Text="Add New Order" />
</RadzenStack>

<RadzenDataGrid @ref="grid" Data="@enrollments" AllowPaging="true" AllowSorting="true" PageSize="10">
    <Columns>
        <RadzenDataGridColumn Property="Id" Filterable="false" Title="ID" Frozen="true" Width="80px" TextAlign="TextAlign.Center" />
        <RadzenDataGridColumn Property="UserId" Title="UserId" />
        <RadzenDataGridColumn Property="LessonId" Title="LessonId" />
        <RadzenDataGridColumn Property="Student" Title="Student" />
        <RadzenDataGridColumn Property="Lesson" Title="Lesson" />
        <RadzenDataGridColumn Title="Akcja" Context="order" Filterable="false" Sortable="false" TextAlign="TextAlign.Right" Frozen="true" FrozenPosition="FrozenColumnPosition.Right" Width="100px">
            <Template Context="enrollment">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat" Shade="Shade.Lighter" Size="ButtonSize.Medium" class="my-1 ms-1" Click="@(args => DeleteRow(enrollment))" @onclick:stopPropagation="true">
                </RadzenButton>
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

@code {
    RadzenDataGrid<Enrolllment> grid;
    IEnumerable<Enrolllment> enrollments;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        enrollments = await EnrollmentService.GetAll();

    }


    private async void DeleteRow(Enrolllment enrollment)
    {
        var response = await EnrollmentService.Delete(enrollment.Id);
    }

}