@page "/OUniwersytecie"

<PageTitle>O Uniwersytecie</PageTitle>

<h2>O Uniwersytecie</h2>
<p>
    Uniwersytet Trzeciego Wieku w Zawierciu, to jedna z największych Organizacji Pozarządowych w powiecie zawierciańskim,
    która skupia rzeszę ludzi w średnim i starszym wieku. Celem jej jest poprawa jakości życia osób starszych przez
    włączenie osób będących na emeryturze do systemu kształcenia ustawicznego, promocję zdrowego stylu życia.

    Pomysł zrodził się wiosną a we wrześniu 2006 roku rozpoczęto starania o jego utworzenie. Główną inicjatorką
    przedsięwzięcia była pani Jadwiga Pluta. Zawiązał się  komitet założycielski w składzie:

    Pluta Jadwiga , Zofia Podsiadło ,Gemel Urszula, Marian Drabek, Szczygieł Ewa, Malik Ernest, Sikora Grażyna,
    Najmanowicz Regina, Saczyńska Krystyna, Maria, Kuterasińska, Maria Baran, Zofia Pańczyk, Duda Czesław, Dudek Jolanta,
    Maciej Świderski, Rozalia Januszewska, Krystyna Kubiczek, Danuta Sienko, Semper Gabriela, Marianna Zbień, Barbara Golda,
    Małgorzata Różdżka, Halina Sytniewska, Maria Arabas.

    Nadeszły pracowite dni; trzeba było  opracować statut, załatwić siedzibę  Stowarzyszenia, adres, opiekę naukową. Dzięki
    ludziom dobrej woli drobnymi krokami  udało się .

    13 października 2006 r. w siedzibie UM odbyło się zebranie. Ówczesny Pan wiceprezydent Witold Grim   na radcę prawnego
    wyznaczył Czesława Dudę. Po zatwierdzeniu Statutu i ustaleniu nazwy „Zawierciański Uniwersytet Trzeciego Wieku”
    wyznaczono 5 osób , które wystąpiły do Krajowego Rejestru Sądowego   w Częstochowie celem zarejestrowania . Były to:

    Jadwiga Pluta
    Maria Arabas
    Czesław Duda
    Zofia Podsiadło
    Halina Sytniewska
    Dzięki porozumieniu z prezesem TMZZ Witoldem Brodzikiem pierwszą siedzibę znalazł uniwersytet w lokalu Towarzystwa
    Miłośników Ziemi Zawierciańskiej.

    Opiekę naukową zaoferował prof. Jacek Kasperczyk , rektor Wyższej Szkoły Zarządzania i Administracji w Zawierciu.

    Stowarzyszenie zostało zarejestrowane w Sądzie Rejonowym w Częstochowie 4 kwietnia 2007 r. i wpisane do Krajowego
    Rejestru Sądowego pod nr 0000277935.

    26 kwietnia 2007  zaprosiliśmy osoby zainteresowane na pierwsze zebranie. Zadeklarowały one przystąpienie do UTW wpłacając
    „wpisowe”. W zebraniu wzięło udział 21 osób. Wybraliśmy spośród nich pierwszy Zarząd i Komisję Rewizyjną.



    Zarząd

    Prezes – Jadwiga Pluta
    Wiceprezes -Jolanta Dudek
    Skarbnik – Maria Kuterasińska
    Sekretarz – Jadwiga Rauk
    Członek -Gabriela Semper
    Rada Programowa

    Jolanta Błasikiewicz
    Halina Milewska
    Grażyna Sikora
    Urszula Gemel
    Ewa Supkowska
    Barbara Liman
    Elżbieta Latos
    Jan Gwizd
    Halina Olender
    Krystyna Stankiewicz
    Wirginia Rodzaj
    Anna Ibek
    Komisja rewizyjna:

    Przewodnicząca: Krystyna Saczyńska

    Członkowie:

    Grażyna Sikora
    Urszula Gemel
    Pomysł utworzenia uniwersytetu spotkał się z dużym zainteresowaniem mieszkańców miasta i powiatu. Pierwszy wakacyjny wykład dr Heleny Chrapkiewicz, wykładowcy Wydziału Psychologii i Pedagogiki Uniwersytetu Śląskiego o potrzebach ludzi starszych i ich realizacji odbył się 11 lipca 2007. W sierpniu powołano księgową Mirosławę Szymczyk  a Wanda Merta opracowała wzory umów dla lektorów i instruktorów zgodnie z ustawowymi wymogami.
</p>