@page "/admin"
@using BaseLibrary.Contracts
@using BaseLibrary.enums
@using BaseLibrary.Models
@using Microsoft.AspNetCore.Authorization
@layout DashLayout
@attribute [Authorize(Roles = "Admin, Teacher")]
@inject ISessionRepository SessionService
@inject IStudentRepository StudentSerivce
@inject ILessonRepository LessonService
<PageTitle>Dashboard</PageTitle>


<div class="container-fluid p-0">

    <h1 class="h3 mb-3"><strong>Podstawowe</strong> informacje</h1>

    <div class="row">
        <div class="col-xl-12 col-xxl-12 d-flex justify-content-between ">
            <div class="w-100">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Aktualny Semestr</h5>
                                    </div>

                                    <div class="col-auto">
                                        <div class="stat text-info">
                                            <i class="fa-regular fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">@GetCurrentSemestrString()</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Studenci</h5>
                                    </div>

                                    <div class="col-auto">
                                        <div class="stat text-secondary">
                                            <i class="fa-solid fa-users"></i>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">@GetNumbersOfStudents()</h1>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Ilość zajęć</h5>
                                    </div>

                                    <div class="col-auto">
                                        <div class="stat text-success">
                                            <i class="fa-solid fa-chalkboard"></i>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">@GetNumbersOfLessonsBySessionString()</h1>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col mt-0">
                                        <h5 class="card-title">Dziś</h5>
                                    </div>

                                    <div class="col-auto">
                                        <div class="stat text-danger">
                                            <i class="fa-solid fa-clock"></i>
                                        </div>
                                    </div>
                                </div>
                                <h1 class="mt-1 mb-3">@DateTime.Now</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@code
{
    Session? _currentSession;
    int _numbersOfStudents;
    int _numbersOfLessons;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _currentSession = await SessionService.GetCurrentSemester(DateTime.Now);
        var students = await StudentSerivce.GetAll();
        _numbersOfStudents = students.Count();

        var lessons = await LessonService.GetBySessionId(_currentSession.Id);
        _numbersOfLessons = lessons.Count();
    }

    private string GetCurrentSemestrString()
    {
        if (_currentSession == null) return "";
        var sessionLang = (_currentSession.SessionType.Equals(SessionType.SUMMER) ? "Letni" : "Zimowy");
        return $"{sessionLang} {_currentSession.SessionYear}";
    }

    private string GetNumbersOfStudents()
    {
        return $"{_numbersOfStudents} studentów";
    }

    private string GetNumbersOfLessonsBySessionString()
    {
        return $"{_numbersOfLessons} zajęć";
    }

}