@inherits LayoutComponentBase
<PageTitle>Uczelnia Trzeciego Wieku</PageTitle>

<partial name="../" />

<div class="page">
    <main>
        <header>
            <h1>Uczelnia Trzeciego Wieku</h1>
            <nav>
                <ul>
                    <li>
                        <a href="/">Aktualności</a>
                        <ul>
                            <li><a href="#">Nowości</a></li>
                            <li><a href="#">Wydarzenia</a></li>
                        </ul>
                    </li>
                    <li><a href="/aboutUTW">O Uniwersytecie</a></li>
                    <li><a href="#">Oferta Edukacyjna</a></li>
                    <li>
                        <a href="#">Sekcje</a>
                        <ul>
                            <li><a href="#">Językowe</a></li>
                            <li><a href="#">Sportowe</a></li>
                            <li><a href="#">Artystyczne</a></li>
                        </ul>
                    </li>
                    <li><a href="/Harmonogram">Harmonogram zajęć</a></li>
                    <li><a href="/Kontakt">Kontakt</a></li>
                </ul>
            </nav>
        </header>

        <div class="container">
            @Body
        </div>

        <footer>
            &copy; 2024 Uczelnia Trzeciego Wieku
        </footer>
    </main>
</div>