@layout AdminLayout
@page "/weather"
@using System.Diagnostics
@using BaseLibrary.Contracts
@using BaseLibrary.Models
@using global::Site.Pages.DashBoard.Layout
@inject HttpClient Http
@inject IStudentRepository StudentService

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (students == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var student in students)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.FirstName</td>
                <td>@student.LastName</td>
                <td>@student.Address</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private Student[]? students;

    protected override async Task OnInitializedAsync()
    {
        students = await StudentService.GetStudents();
    }
}