@page "/Kontakt"

<PageTitle>Kontakt</PageTitle>

<h2>Kontakt</h2>
<p>
    Bielski Uniwersytet Trzeciego Wieku
</p>
<p>
    ul.Bielska 1,
</p>
<p>
    43-300 Bielsko-Biała
</p>
<p>
    telefony kontaktowe  000-000-000;
</p>
<p>
    adres mailowy : u3wbielsko@gmail.com
</p>
<p>
    Rachunek bankowy:
</p>
<p>
    ING Bank Śląski O/ Bielsko 11 1111 1111 1000 1111 1111 1111
</p>

<p>
    Sekretariat czynny w:
</p>
<p>
    wtorek  – 14.00 -16.00
</p>
<p>
    czwartek -godz.  10.00- 12 .00

</p>