@inherits LayoutComponentBase

<HeadContent>

    <link rel="stylesheet" href="css/adminkit.css" />
    
</HeadContent>
<RadzenComponents/>

<div class="wrapper">
    <DashMenu/>

    <div class="main">
        <nav class="navbar navbar-expand navbar-light navbar-bg">
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav navbar-align">
                    <li class="nav-item dropdown">
                        <a
                            class="nav-icon dropdown-toggle d-inline-block d-sm-none"
                            href="#"
                            data-bs-toggle="dropdown">
                            <i class="align-middle" data-feather="settings"></i>
                        </a>

                        <a
                            class="nav-link dropdown-toggle d-none d-sm-inline-block"
                            href="#"
                            data-bs-toggle="dropdown">
                            <span class="text-dark">Charles Hall</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" href="Oplaty.html"><i class="align-middle me-1" data-feather="user"></i>
                                Profile</a
                            >

                            <a class="dropdown-item" href="#">Log out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="content">
            @Body
        </main>

        <footer class="footer">
            <div class="container-fluid">
                <div class="row text-muted">
                    <div class="col-6 text-start">
                        <p class="mb-0">
                            <a
                                class="text-muted"
                                href="https://adminkit.io/"
                                target="_blank"><strong>AdminKit</strong></a
                            >
                            -
                            <a
                                class="text-muted"
                                href="https://adminkit.io/"
                                target="_blank"><strong>Bootstrap Admin Template</strong></a
                            >
                            &copy;
                        </p>
                    </div>
                    <div class="col-6 text-end">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a
                                    class="text-muted"
                                    href="https://adminkit.io/"
                                    target="_blank">Support</a
                                >
                            </li>
                            <li class="list-inline-item">
                                <a
                                    class="text-muted"
                                    href="https://adminkit.io/"
                                    target="_blank">Help Center</a
                                >
                            </li>
                            <li class="list-inline-item">
                                <a
                                    class="text-muted"
                                    href="https://adminkit.io/"
                                    target="_blank">Privacy</a
                                >
                            </li>
                            <li class="list-inline-item">
                                <a
                                    class="text-muted"
                                    href="https://adminkit.io/"
                                    target="_blank">Terms</a
                                >
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>



<script src="js/Adminapp.js"></script>



