<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="DaneStudentow.html">
            <span class="align-middle">AdminKit</span>
        </a>

        <ul class="sidebar-nav">

            <li class="sidebar-item active">
                <NavLink class="sidebar-link" href="DaneStudentow.html">
                    <i class="align-middle" data-feather="user"></i>
                    <span class="align-middle">
                        Rejestracja i aktualizacja danych osobowych studentów
                    </span>
                </NavLink>
                
                <a class="sidebar-link" href="DaneStudentow.html">
                    <i class="align-middle" data-feather="user"></i>
                    <span class="align-middle">
                        Rejestracja i aktualizacja danych osobowych studentów
                    </span>
                </a>
            </li>


            <li class="sidebar-header">Zarządzanie studentami</li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="DaneStudentow.html">
                    <i class="align-middle" data-feather="user"></i>
                    <span class="align-middle">
                        Rejestracja i aktualizacja danych osobowych studentów
                    </span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="Oplaty.html">
                    <i class="align-middle" data-feather="list"></i>
                    <span class="align-middle">Prowadzenie ewidencji opłat </span>
                </a>
            </li>

            <li class="sidebar-header">Zarządzanie zajęciami</li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="ui-buttons.html">
                    <i class="align-middle" data-feather="square"></i>
                    <span class="align-middle">Tworzenie i edycja planu zajęć</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="ui-forms.html">
                    <i class="align-middle" data-feather="check-square"></i>
                    <span class="align-middle">
                        Przypisywanie wykładowców i prowadzących do zajęć
                    </span
                    >
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="ui-cards.html">
                    <i class="align-middle" data-feather="grid"></i>
                    <span class="align-middle">Prowadzenie rejestru obecności</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="ui-typography.html">
                    <i class="align-middle" data-feather="align-left"></i>
                    <span class="align-middle">
                        Dostęp do statystyk i raportów dotyczących zajęć
                    </span
                    >
                </a>
            </li>

            <li class="sidebar-header">Zarządzanie kadrą</li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="charts-chartjs.html">
                    <i class="align-middle" data-feather="bar-chart-2"></i>
                    <span class="align-middle">
                        Prowadzenie ewidencji danych osobowych wykładowców i
                        prowadzących, studentów
                    </span
                    >
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="maps-google.html">
                    <i class="align-middle" data-feather="map"></i>
                    <span class="align-middle">
                        Możliwość tworzenia i edytowania harmonogramów pracy
                    </span
                    >
                </a>
            </li>
        </ul>
    </div>
</nav>