@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavManager

<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <NavLink class="sidebar-brand text-center" href="admin">
            <span class="align-middle">UTW</span>
        </NavLink>

        <ul class="sidebar-nav">

            <li class="sidebar-item">
                <NavLink class="sidebar-link" href="admin">
                    <i class="fa-solid fa-chalkboard"></i> <span class="align-middle">Dashboard</span>
                </NavLink>
            </li>

            @if (_authState?.User?.Identity != null && _authState.User.IsInRole("Admin"))
            {
            <li class="sidebar-item">
                <NavLink class="sidebar-link" href="admin/Studenci/Zapisani">
                    <i class="fa-solid fa-users"></i> <span class="align-middle">Lista studentów</span>
                </NavLink>
            </li>

            <li class="sidebar-item">
                <NavLink class="sidebar-link" href="admin/Studenci/Kandydaci">
                    <i class="fa-solid fa-users"></i> <span class="align-middle">Lista kandydatów</span>
                </NavLink>
            </li>

            <li class="sidebar-item">
                <NavLink class="sidebar-link" href="admin/Oplaty/Lista">
                    <i class="fa-solid fa-wallet"></i> <span class="align-middle">Opłaty</span>
                </NavLink>
            </li>


            <li class="sidebar-item">
                <NavLink class="sidebar-link" href="admin/Semestry/Lista">
                    <i class="fa-solid fa-book"></i> <span class="align-middle">Semestry</span>
                </NavLink>
            </li>

            <li class="sidebar-item">
                <NavLink class="sidebar-link" href="admin/Zajecia/Lista">
                    <i class="fa-solid fa-graduation-cap"></i> <span class="align-middle">Zajecia</span>
                </NavLink>
            </li>
            <li class="sidebar-item">
                <NavLink class="sidebar-link" href="admin/Zapisy/Lista">
                    <i class="fa-solid fa-bookmark"></i> <span class="align-middle">Zapisy Studentów</span>
                </NavLink>
            </li>
            <li class="sidebar-item">
                <NavLink class="sidebar-link" href="admin/Zapisy/Nauczyciele">
                    <i class="fa-solid fa-bookmark"></i> <span class="align-middle">Zapisy Nauczycieli</span>
                </NavLink>
            </li>
            <li class="sidebar-item">
                <NavLink class="sidebar-link" href="admin/Uzytkownicy/Lista">
                    <i class="fa-solid fa-user"></i> <span class="align-middle">Uzytkownicy</span>
                </NavLink>
            </li>
            <li class="sidebar-item">
                <NavLink class="sidebar-link" href="admin/Zajecia/MojeZajecia">
                    <i class="fa-solid fa-bookmark"></i> <span class="align-middle">Moje zajecia</span>
                </NavLink>
            </li>
            }
            else
            {
            <li class="sidebar-item">
                <NavLink class="sidebar-link" href="admin/Zajecia/MojeZajecia">
                    <i class="fa-solid fa-bookmark"></i> <span class="align-middle">Moje zajecia</span>
                </NavLink>
            </li>
            }
        </ul>


    </div>
</nav>

@code {
    AuthenticationState? _authState;


    protected override async Task OnInitializedAsync()
    {
        _authState = await AuthStateProvider.GetAuthenticationStateAsync();
    }

}